.titulo{
    height: 50px;
    width: 100%;
    background-color: #303030;
    
}

h1{
    color: cornsilk;
    text-align: center;
    position: relative;
    top: 5px;
}

.contenedor{
 background-color:darkgrey;
 width: 1200px;
 height: 1200px;
 margin-left: auto;
 margin-right: auto
 
}

#cookies{
    position: absolute;
    left: 150px;
    top: 150px;
    background-color: aliceblue;
    width: 470px;
    height: 120px;
}

#metodos{
    position: absolute;
    right: 200px;
    top: 950px;
    background-color: aliceblue;
    width: 470px;
    height: 120px;
}

#cookies2{
    position: absolute;
    right: 200px;
    top: 370px;
    background-color: aliceblue;
    width: 470px;
    height: 120px;
}

#cookies3{
    position: absolute;
    left: 150px;
    top: 650px;
    background-color: aliceblue;
    width: 470px;
    height: 120px;
}

#pcookies{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 16px;
    text-align: center;
}

#pcookies2{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 16px;
    text-align: center;
}

#pcookies3{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 16px;
    text-align: center;
}

#pmetodos{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 16px;
    text-align: center;
}


#a{
    width: 270px;
    height: 200px;
    position: absolute;
    right: 300px;
    top:95px
}

#b{
    width: 270px;
    height: 200px;
    position: absolute;
    left: 270px;
    top: 350px;
}

#c{
    width: 270px;
    height: 220px;
    position: absolute;
    right: 325px;
    top: 570px;
}

#Imagen1{
    width: 270px;
    height: 200px;
    position: absolute;
    right: 300px;
    top:95px
}

#Imagen2{
    width: 270px;
    height: 220px;
    position: absolute;
    left: 270px;
    top: 350px;
}

#Imagen3{
    width: 270px;
    height: 220px;
    position: absolute;
    right: 325px;
    top: 570px;
}